.grid-panel {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.project-container {
  background-color: rgba(128, 128, 128, .5);
  padding: 16px;
  margin: 8px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300vw;
  max-height: 300vw;
}

.fade-in {
  opacity: 0;
  animation: fade-in .6s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  border-radius: 5%;
}